In [1]:
import pandas as pd
import numpy as np

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

In [2]:
df.head(5)

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Phoenix  634     Excellent                     13
1     Creature1       Mermaid  211          Poor                     84
2     Creature2        Dragon  609          Good                     16
3     Creature3        Dragon  887          Fair                     52
4     Creature4       Griffin  451          Poor                     29

In [7]:
total_creatures = len(df)
print(f"El numero total de criaturas es: {total_creatures}")

El numero total de criaturas es: 100

In [10]:
avg_age = df["age"].mean()
print(f"La media de edad de las criaturas es: {avg_age}")

La media de edad de las criaturas es: 496.3

In [18]:
unicorn_mask = df["creature_type"] == "Unicorn"
unicorn_df = df[unicorn_mask]
unicorns_total = len(unicorn_df)
print(f"El numero de unicornios es {unicorns_total}")

El numero de unicornios es 14

In [19]:
df["creature_type"].value_counts()

creature_type
Mermaid    24
Griffin    22
Dragon     15
Phoenix    14
Unicorn    14
Centaur    11
Name: count, dtype: int64

In [21]:
df_avg_age_creatures = df.groupby("creature_type")["age"].mean()
df_avg_age_creatures

creature_type
Centaur    692.727273
Dragon     555.333333
Griffin    464.681818
Mermaid    519.791667
Phoenix    388.785714
Unicorn    395.642857
Name: age, dtype: float64